
*{
  box-sizing:border-box;
}
html,body{
  height:100%;
  position: fixed;
  top:0;
  left:0;
  bottom:0;
  right:0;
}

body{
  height:100%;
  font-family:-apple-system,BlinkMacSystemFont,Helvetica Neue,Helvetica,Arial,sans-serif;
  background:linear-gradient(145deg, #1488CC, #2B32B2) 0% 0% / cover; 
  color:black;
  display: flex;
  align-items: center;
  justify-content: right;
}

header{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position:absolute;
  top:0px;
  left:0px;
  height:40px;
  width:100%;
  background:#f1f1f1;
  color:#2B32B2;
  z-index: 1;
}

footer{
  position:absolute;
  bottom:0px;
  left:0px;
  height:50px;
  width:100%;
  background:#1488CC;
  padding:2px;
  display:flex;
  align-items:center;
  justify-content:center;
  outline:0;
}

input{
  width:246px;
  height: 28px;
  border: solid #f1f1f1;
  background: #f1f1f1;
  border-radius:20px;
  padding:6px;
  margin:5px;
  outline:0;
}

input:focus{
  border: solid white;
  background: #b8dcff;
}

button{
  height: 26px;
  width: 26px;
  outline:0;
  cursor:pointer;
  border-radius:27px;
  border: solid #2B32B2;
  background: #f1f1f1;
  color: #2B32B2;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:active{
  background: #2B32B2;
  color: #f1f1f1;
}

button:disabled{
  color: rgb(134, 134, 134);
  border: solid rgb(134, 134, 134);
  cursor: not-allowed;
}

.title{
  display:flex;
  justify-content:center;
  font-size:23px;
  position:relative;
  margin:4px;
  font-family:Arial;
  z-index:0;
}

.logo{
  position:relative;
  height:23px;
  transform: scaleX(-1) rotate(35deg);
  margin:4px -4px;
  z-index:-1;
}

.send-button{
  position:absolute;
  bottom: 12px;
  right:10px;
}

.messages{
  width:100vw;
  position: absolute;
  top:40px;
  bottom: 50px;
  left: 0;
  display: flex;
  flex-direction: column-reverse;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.message-wrap{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.message-wrap[from="me"]{
  justify-content: flex-end;
}

.message{
  position:relative;
  margin-top:15px;
  max-width: 80%;
  /* width: max-content; */
}

.msg-text {
	background: #f1f1f1;
	border-radius: .4em;
  padding: 8px;
  margin: 8px;
  display: inline-block;
  min-width: 65px;
  word-break: break-word;
}

.msg-name[from="you"]{
  position: absolute;
  font-size: smaller;
  top:-12px;
  left:9px;
  font-weight: bold;
  color:rgb(255, 255, 255);
}

.msg-name[from="me"]{
  position: absolute;
  font-size: smaller;
  top:-12px;
  right:9px;
  font-weight: bold;
  color:rgb(255, 123, 0);
}

.edit-username{
  position:absolute;
  top:0;
  width:100%;
  display:flex;
  align-items: center;
  justify-content:flex-end;
}

.name-wrap{
  position:relative;
  display:flex;
  flex-direction: row;
}

.name{
  font-weight: bold;
  color:rgb(255, 123, 0);
}

.name-input{
  width:105px;
  margin:-5px;
  padding: 10px;
  text-align:right;
  border: solid white;
  background:rgb(255, 197, 197);
}

.name-input::placeholder{
  text-align:left;
}

.name-button{
  margin:7px 10px;
}